# folders
.astro/
.idea/
.junie/
dist/
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# file types
*.env
*.env.production
*.xml
*.mjs

# macOS-specific files
.DS_Store

# single files
AGENTS.md
CLAUDE.md
qodana.yaml
script.js
styles.css
pnpm-workspace.yaml