.nav {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: stretch;

    height: calc(var(--grid-cell) * 6);
    padding: 0;
}

.nav::before {
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 50%;

    width: 100vw;

    content: "";
    background: var(--color-bg);
    transform: translateX(-50%);
}

.nav::after {
    position: absolute;
    z-index: 3;
    top: 100%;
    left: 50%;

    width: 100vw;
    height: 1px;

    content: "";
    background: var(--color-line);
    transform: translateX(-50%);
}

.nav > * {
    position: relative;
    z-index: 1;
}

.nav__list {
    display: flex;
    flex: 0 0 auto;
    list-style: none;
    margin: 0;
    padding: 0;
    border-left: 1px solid var(--color-line);
}
